.color-laravel {
  color: #a82626;
  font-weight: 1000;
}

.color-vue {
  color: #25a846;
  font-weight: 1000;
}

.color-blade {
  color: #a82552;
  font-weight: 1000;
}

.color-bootstrap {
  color: #5325a8;
  font-weight: 1000;
}

.color-xml {
  color: #a87025;
  font-weight: 1000;
}

.color-composer {
  color: #362828;
  font-weight: 1000;
}

.color-html {
  color: #8c3d26;
  font-weight: 1000;
}

.color-css {
  color: #26308c;
  font-weight: 1000;
}

.color-php {
  color: #50217c;
  font-weight: 1000;
}
